.price-row {
      width: 70%;
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.price-col {
      background: #004251;
      padding: 6% 20%;
      border-radius: 10px;
      color: #63A8BE;
      text-align: center;
}

.price-col .desc {
      font-size: 20px;
      width: 600px;
      text-align: justify;
      letter-spacing: -1px;
      background: #004251;
    
}

.header p {
      margin-top: 0;
      display: inline-block;
      background-color: #004251;
      width: 100%;
      height: 70px;
      margin-right: 0;
      padding-top: 2rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      vertical-align: middle;
    }

    .logo {
      font-family:'jomhuria';
      font-weight: 800;
      color: #159C91;
      font-size: 50px;
      letter-spacing: 1px;
      line-height: 55px;
    
    }

    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .navbar {
      display: inline-flex;
      background-color: #004251;
      padding-right: 40px;
    }
    .navbar a {
      font-size: 19px;
      font-family: 'poppins';
      margin-right: 30px;
      background-color: #004251;
      padding: 0;
      padding-top: 3rem;
      font-weight: 700;
      color: #159C91;
      border: none;
      text-decoration: none;
    }
    
    


    
