* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins' , sans-serif;
}

.container {
      width: 100%;
      height: 100vh;
      background: #002C39;
}

.container h2 {
      color: #63A8BE;
      font-size: 32px;
      padding: 50px 0;
      text-align: center;
}

.price-row {
      width: 60%;
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 25px;
}

.price-col {
      background: #004251;
      padding: 10% 15%;
      border-radius: 10px;
      color: #63A8BE;
      text-align: center;
}

.price-col p {
      font-size: 25px;
      font-family: 'poppins';
      font-weight: 500;
      padding-bottom: 20px;
}



.btns{
      margin-top: 20px;
}
.btns button {
      border: none;
      font-size: 20px;
      padding: 6px 20px;
      font-family: 'poppins';
      font-weight: 600;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 10px;

}

.fb {
      color: #194991;
      background: #fff;
      transition: 0.8s ease;
}

.fb:hover{
      color: #fff;
      background: #194991;
}

.ig {
      color: #e756bc;
      background: #fff;
      transition: 0.8s ease;
}
.ig:hover {
      color: #fff;
      background: #e756bc;
}

.gm {
      color: #f34444;
      background: #fff;
      transition: 0.8s ease;
}
.gm:hover{
      color: #fff;
      background: #f34444;
}

.dc {
      color: #7289d9;
      background: #fff;
      transition: 0.8s ease;
}
.dc:hover{
      color: #fff;
      background: #7289d9;
}

.header p {
      margin-top: 0;
      display: inline-block;
      background-color: #004251;
      width: 100%;
      height: 70px;
      margin-right: 0;
      padding-top: 2rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      vertical-align: middle;
    }

    .logo {
      font-family:'jomhuria';
      font-weight: 800;
      color: #159C91;
      font-size: 50px;
      letter-spacing: 1px;
      line-height: 55px;
    
    }

    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .navbar {
      display: inline-flex;
      background-color: #004251;
      padding-right: 40px;
      padding-top: 3rem;
    }

    .navbar a {
      padding: 0;
      margin: 0;
      font-size: 19px;
      font-family: 'poppins';
      margin-right: 30px;
      background-color: #004251;
      font-weight: 700;
      color: #159C91;
      border-style: none;
      text-decoration: none;
    }
    