.price-col p {
      font-size: 15px;
      text-align: justify;
}


.container h2 {
      color: #63A8BE;
      font-size: 32px;
      padding: 40px 0;
      text-align: center;
}

.price-col {
      background: #004251;
      padding: 6% 20%;
      border-radius: 10px;
      color: #63A8BE;
      text-align: center;
}

.price-row {
      width: 80%;
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 25px;
}

