* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins' , sans-serif;
}

.container {
      width: 100%;
      height: 100vh;
      background: #002C39;
}

.container h2 {
      color: #63A8BE;
      font-size: 32px;
      padding: 50px 0;
      text-align: center;
}

.price-row {
      width: 90%;
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 25px;
}

.price-col {
      background: #004251;
      padding: 10% 15%;
      border-radius: 10px;
      color: #63A8BE;
      text-align: center;
}

.price-col p {
      font-size: 20px;
      font-family: 'poppins';
      font-weight: 500;
}

.price-col h3{
      font-size: 30px;
      margin: 20px 0 40px;
      font-weight: 500;
}
.price-col h3 span {
      font-size: 16px;
}

.price-col ul {
      text-align: left;
      margin: 20px 0;
      color: #63A8BE;
      list-style: none;
    
}

.price-col ul li {
      margin: 15px 0;
}

.price-col ul li::before{
      content: '\2022';
      color:aquamarine;
      font-weight: bold;
      margin-right: 8px;
}

.price-col a button {
      width: 100%;
      padding: 14px 0;
      background: transparent;
      color: #63A8BE;
      font-size: 15px;
      border: 1px solid #002C39;
      border-radius: 6px;
      margin-top: 30px;
      cursor: pointer;
      transition: background 0.5s;
}

.price-col a button:hover{
      background: #002C39;
}

.price-col a button:active {
      opacity: 0.3;
      transition: 0.2;
}